<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asu.whirlpool.psychewhirlpool">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimelineActivity"
            android:label="@string/title_activity_timeline"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asu.whirlpool.psychewhirlpool.MainActivity" />
        </activity>
        <activity
            android:name=".FactsActivity"
            android:label="@string/title_activity_facts"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asu.whirlpool.psychewhirlpool.MainActivity" />
        </activity>
        <activity
            android:name=".SocialMediaActivity"
            android:label="SocialMediaActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asu.whirlpool.psychewhirlpool.MainActivity" />
        </activity>
    </application>

</manifest>