<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asu.whirlpool.psychewhirlpool">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/psyche_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/psyche_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/PsycheLightTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FactsActivity"
            android:label="@string/title_activity_facts"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asu.whirlpool.psychewhirlpool.MainActivity" />
        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="asu.whirlpool.psychewhirlpool.MainActivity" />

        <activity
            android:name=".GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asu.whirlpool.psychewhirlpool.MainActivity" />
        </activity>
        <activity
            android:name=".CountdownActivity"
            android:label="@string/title_activity_countdown" />
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asu.whirlpool.psychewhirlpool.MainActivity" />
        </activity>
        <activity
            android:name=".SocialMediaTabs"
            android:label="@string/title_activity_social_media_tabs"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".FullImageActivity" />
        <activity
            android:name=".timeline.TimelineTab"
            android:label="@string/timeline_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asu.whirlpool.psychewhirlpool.MainActivity" />
        </activity>
    </application>

</manifest>