<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asu.whirlpool.psychewhirlpool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/psyche_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/psyche_launcher_icon_round"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/PsycheLightTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".facts.FactsActivity"
            android:label="@string/title_activity_facts"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asu.whirlpool.psychewhirlpool.MainActivity" />
        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="asu.whirlpool.psychewhirlpool.MainActivity" />

        <activity
            android:name=".CountdownActivity"
            android:label="@string/title_activity_countdown"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asu.whirlpool.psychewhirlpool.MainActivity" />
        </activity>
        <activity
            android:name=".SocialMediaTabs"
            android:label="@string/title_activity_social_media_tabs"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".gallery.FullImageActivity" />

        <meta-data
            android:name="asu.whirlpool.psychewhirlpool.GlideConfiguration"
            android:value="GlideModule" />

        <activity
            android:name=".timeline.TimelineTab"
            android:label="@string/timeline_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asu.whirlpool.psychewhirlpool.MainActivity" />
        </activity>
        <activity android:name=".InstagramClasses.Display" />
        <activity android:name=".facebookClasses.Display2" />
        <activity
            android:name=".gallery.GalleryTab"
            android:label="@string/title_activity_gallery_tab"
            android:parentActivityName=".MainActivity"
            android:theme="@style/PsycheLightTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asu.whirlpool.psychewhirlpool.MainActivity" />
        </activity>
        <activity
            android:name=".facts.FactContentActivity"
            android:label="@string/title_activity_fact_content"
            android:parentActivityName=".MainActivity"
            android:theme="@style/PsycheLightTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asu.whirlpool.psychewhirlpool.MainActivity" />
        </activity>
        <activity
            android:name=".home.FirstRunIntroActivity"
            android:label="@string/title_activity_first_run_intro"
            android:theme="@style/PsycheLightTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".timeline.TimelineNodeActivity" />
        <activity android:name=".gallery.videoClasses.YouTubeActivity" />
        <activity
            android:name=".home.AppCreditsActivity"
            android:label="@string/title_activity_app_credits"
            android:theme="@style/PsycheLightTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".home.HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/PsycheLightTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>
</manifest>